
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GTravel</title>
    <link rel="icon" href="~/Images/gtravel_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  navbar-light bg-transparent box-shadow">
            <div class="container ">
                @{
                    var area = "Customer";
                    if (User.IsInRole("Admin") || User.IsInRole("Manager")) { area = "Admin"; }
                }
                <a class="navbar-brand p-0" asp-area="@area" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/gtravel_logo.png" width="90" height="70" class="d-inline-block align-top " alt="logo" />

                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link home" asp-area="Admin" asp-controller="Tour" asp-action="Index">Tours</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link home" asp-area="Admin" asp-controller="Attraction" asp-action="Index">Attractions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link home" asp-area="Admin" asp-controller="City" asp-action="Index">Cities</a>
                            </li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link home" asp-area="Admin" asp-controller="Employee" asp-action="Index">Employees</a>
                                </li>

                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link home" asp-area="Customer" asp-controller="Home" asp-action="Index">All Tours</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropDown" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Tours By State
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" asp-route-state="NSW" asp-controller="Home" asp-action="StateDetails">New South Wales</a>
                                    <a class="dropdown-item" asp-route-state="QLD" asp-controller="Home" asp-action="StateDetails">Queensland</a>
                                    <a class="dropdown-item" asp-route-state="WA" asp-controller="Home" asp-action="StateDetails">Western Australia</a>
                                    <a class="dropdown-item" asp-route-state="SA" asp-controller="Home" asp-action="StateDetails">South Australia</a>
                                    <a class="dropdown-item" asp-route-state="VIC" asp-controller="Home" asp-action="StateDetails">Victoria</a>
                                    <a class="dropdown-item" asp-route-state="TAS" asp-controller="Home" asp-action="StateDetails">Tasmania</a>
                                    <a class="dropdown-item" asp-route-state="NT" asp-controller="Home" asp-action="StateDetails">Northern Territory</a>
                                    <a class="dropdown-item" asp-route-state="ACT" asp-controller="Home" asp-action="StateDetails">Australian Capital Territory</a>

                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link home" asp-controller="Home" asp-action="ContactUs">Contact</a>
                            </li>


                        }
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid" style="text-align:center;">

        </div>

    </header>
    <br />
    <div class="container my-3">
        <main role="main" class="pb-3 pl-3 shadow ">

            @RenderBody()
            <br />
        </main>
    </div>
    <br />
    <br />
    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row col-12">
                <a class="btn-floating btn-lg btn-fb" role="button"><i class="fab fa-facebook-f"></i></a>
                <a class="btn-floating btn-lg btn-ins" role="button"><i class="fab fa-instagram"></i></a>
                <a class="btn-floating btn-lg btn-tw" role="button"><i class="fab fa-twitter"></i></a>
            </div>
            &copy; 2020 - GTravel - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>
